DB_HOST=localhost
DB_NAME=nombre_base_datos
DB_USER=usuario
DB_PASS=contraseña
DB_PORT=3306

APP_URL=http://localhost:5173

BREVO_KEY=PON_AQUI_TU_BREVO_KEY
CRON_KEY=PON_AQUI_TU_CRON_KEY

# ESTA VARIABLE VA EN frontend/.env, NO AQUÍ
# VITE_GOOGLE_CLIENT_ID=XXXXXXXXXXXXXXXX.apps.googleusercontent.com