# activamos motor reescritura
RewriteEngine On

# reglas exclusion:
# para si usuario pide archivo que existe realmente, no haga nada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# demas se envia al index.php
RewriteRule ^ index.php [L,QSA]
